*{
    padding: 0;
    margin: 0 auto;
}

:root{
    --cor0:#FFD600;
    --cor1:#ddb800;
    --cor2:#ccaa00;


    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
}

body{
    font-family: var(--font-padrao);
    background-color: #383838;
    color: #f5f5f5;
    /*background-image: url(../images/espaco.jpg);*/

    background-repeat: no-repeat;
    background-size: calc(100%);
    background-attachment: fixed;
}

p{
    text-align: justify;
    text-indent: 20px;
    line-height: 30px;
}

ul{
    list-style-position: inside;
    padding-left: 20px;
}

pre{
    text-wrap: wrap;
    text-align: justify;
    background-color: #1f1f1f;
    color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    font-size: 12pt;
}

hr{
    margin: 20px 0px;
}

header{
    background-image: linear-gradient(180deg, var(--cor0), var(--cor2));
    height: 100px;
    min-width: 480px;
    max-width: 100%;
}

header > img{
    position: absolute;
    top: 0;
    right: 2%;
    filter: drop-shadow(2px 4px 2px black);
}

header > h1{
    text-align: center;
    padding: 20px;
    color: black;
}

nav{
    background-color: var(--cor2);
    padding: 10px;
    min-width: 460px;
    max-width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

nav li{
    display: inline;
}

nav a{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    transition-duration: 0.5s;
    
}

nav a:hover{
    background-color: rgb(250, 246, 7);
}

main{
    max-width: 1000px;
    min-width: 480px;
    width: 100%;
    margin: 0 auto;
    border-radius: 0px 0px 10px 10px;
    min-height: calc(100vh - 225px);
}

article{
    padding: 10px;
}

article h1{
    text-align: center;
    padding: 10px;
}

article h2{
    margin: 10px 0px;
    padding-left: 10px;
    border-left: 5px solid white;
}

footer{
    position: relative;
    bottom: 0;
    height: 60px;
    min-width: 480px;
    margin-top: 15px; 
    background-image: linear-gradient(180deg, var(--cor0), var(--cor2));

}

footer > p{
    text-align: center;
    padding: 10px;
    color: black;
}
